.bb{
    background-color: rgb(232, 240, 240);
    height: 50px;
    justify-content: center;
    width: 100%;
}

.me-auto{
    padding-right: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.me-auto a{
      
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.navbar-collapse {
    background-color:  rgb(232, 240, 240);;
}